{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block page_name %}<b>Add Task</b>, <b>Check</b> and <b>Review</b>{% endblock %}
{% block page_description %}Personal To-Do Assistant!{% endblock %}
{% block breadcrumbs %}{# Breadcrumb implementation left to developers #}{% endblock %}

{% block content %}

    <div class="row">
    	<div class="col-sm-6">
	    	<div class="panel panel-primary">
	    		<div class="panel-heading">
	    			{% trans "Set Password" %}
	    		</div>

	    		<div class="panel-body">
		    		<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
				        {% csrf_token %}
				        {{ form.as_p }}
				        <input class="btn btn-success" type="submit" name="action" value="{% trans 'Set Password' %}"/>
				    </form>	
	    		</div>
	    	</div>
	    </div>
    </div>
    
{% endblock %}
