{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="row">
    	<div class="col-sm-6">
	    	<div class="panel panel-primary">
	    		<div class="panel-heading">
    				{% trans "Change Password" %}
	    		</div>

	    		<div class="panel-body">
		    		<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
				        {% csrf_token %}
				        {{ form.as_p }}
				        <button class="btn" type="submit" name="action">{% trans "Change Password" %}</button>
				    </form>
	    		</div>
	    	</div>
	    </div>
    </div>

{% endblock %}
