{% extends 'adminlte/base.html' %}

{% block title %}Todo{% endblock %}

{% block page_name %}Text 2{% endblock %}
{% block page_description %}some text{% endblock %}
{% block breadcrumbs %}{# Breadcrumb implementation left to developers #}{% endblock %}

{% block content %}

	

	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">asds</div>
				<div class="panel-body">
					<a href="http://django-adminlte2.readthedocs.io/en/latest/templates_tags.html" target="_blank">Django AdminLTE2 Template</a>
				</div>
		    </div>
		</div>
		<div class="col-sm-6">sd</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
		    <div class="well">
		    	<a href="http://django-adminlte2.readthedocs.io/en/latest/templates_tags.html" target="_blank">Django AdminLTE2 Template</a>
		    </div>
	    </div>
    </div>
{% endblock %}

