{% extends 'adminlte/base.html' %}

{% block title %}Todo{% endblock %}

{% block page_name %}<b>Add Task</b>, <b>Check</b> and <b>Review</b>{% endblock %}
{% block page_description %}Personal To-Do Assistant!{% endblock %}
{% block breadcrumbs %}{# Breadcrumb implementation left to developers #}{% endblock %}



{% block content %}
	<div class="row">
		<div class="col-sm-6">
		    <div class="panel panel-default">
		    	<input type="text" name="" class="form-control taskTitleTextField" placeholder="Title" onkeypress=if(event.keyCode==13){$('.textarea').focus();}>
		    	<textarea type="text" name="" class="form-control textarea" placeholder="Write the Task here..."></textarea>
		    	<button class="btn btn-success btn-block btn-flat">Save</button>
		    </div>
	    </div>
	    <div class="col-sm-6">
	    </div>
    </div>
	

	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Orbachin Ujbuk</div>
				<div class="panel-body">Orbachin
					<a href="http://django-adminlte2.readthedocs.io/en/latest/templates_tags.html" target="_blank">Django AdminLTE2 Template</a>
				</div>
		    </div>
		    <div class="panel panel-primary">
				<div class="panel-heading">Orbachin Ujbuk</div>
				<div class="panel-body">Orbachin
					<a href="http://django-adminlte2.readthedocs.io/en/latest/templates_tags.html" target="_blank">Django AdminLTE2 Template</a>
				</div>
		    </div>
		    <div class="panel panel-success">
				<div class="panel-heading">Orbachin Ujbuk</div>
				<div class="panel-body">Orbachin
					<a href="http://django-adminlte2.readthedocs.io/en/latest/templates_tags.html" target="_blank">Django AdminLTE2 Template</a>
				</div>
		    </div>
		</div>
		<div class="col-sm-6">    
		    <div class="panel panel-info">
				<div class="panel-heading">Orbachin Ujbuk</div>
				<div class="panel-body">Orbachin
					<a href="http://django-adminlte2.readthedocs.io/en/latest/templates_tags.html" target="_blank">Django AdminLTE2 Template</a>
				</div>
		    </div>
		    <div class="panel panel-warning">
				<div class="panel-heading">Orbachin Ujbuk</div>
				<div class="panel-body">Orbachin
					<a href="http://django-adminlte2.readthedocs.io/en/latest/templates_tags.html" target="_blank">Django AdminLTE2 Template</a>
				</div>
		    </div>
		    <div class="panel panel-danger">
				<div class="panel-heading">Orbachin Ujbuk</div>
				<div class="panel-body">Orbachin
					<a href="http://django-adminlte2.readthedocs.io/en/latest/templates_tags.html" target="_blank">Django AdminLTE2 Template</a>
				</div>
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
		    <div class="well">
		    	<a href="http://django-adminlte2.readthedocs.io/en/latest/templates_tags.html" target="_blank">Django AdminLTE2 Template</a>
		    </div>
	    </div>
    </div>
{% endblock %}

